# Data Quality Check Notebook

In [3]:
import pandas as pd
from pathlib import Path

In [5]:
import sys
sys.path.append("../")

import ocre_database_analysis.constants as c

In [8]:
pd.options.display.max_columns = None

## Import Data

In [9]:
coins = pd.read_csv(c.DATA_FOLDER / "export" / "fnd_coins.csv")
coins.head(2)

,coin_id,coin_name,has_typological,has_examples,has_examples_pagination,has_analysis,coin_date_range,object_type,obverse_legend,obverse_type,reverse_legend,reverse_type,average_axis,average_diameter,average_weight,coin_uri_link,num_denominations,num_materials,num_authority_names,num_issuer_names,num_mints,num_regions,num_entities,num_obverse_entities,num_obverse_deities,num_obverse_portraits,num_reverse_entities,num_reverse_deities,num_reverse_portraits,num_examples,ts
0,1,RIC I (second edition) Augustus 1A,True,True,False,True,25 BC - 23 BC,Coin,AVGVST,"Head of Augustus, bare, left",P CARISI LEG,"Victory standing right, placing wreath on trop...",5.00,13.66,1.61,https://numismatics.org/ocre/id/ric.1(2).aug.1A,1,1,1,1,1,1,2,1,0,1,1,1,0,22,2023-09-15 23:23:18.802041+00:00
1,2,RIC I (second edition) Augustus 1B,True,True,False,True,25 BC - 23 BC,Coin,AVGVST,"Head of Augustus, bare, left",P CARISI LEG,"Victory standing right, placing wreath on trop...",9.12,13.91,1.65,https://numismatics.org/ocre/id/ric.1(2).aug.1B,1,1,1,1,1,1,2,1,0,1,1,1,0,22,2023-09-15 23:23:18.802041+00:00

In [7]:
coins.shape

(41269, 31)

In [14]:
coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41269 entries, 0 to 41268
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   coin_id                  41269 non-null  int64
 1   coin_name                41269 non-null  object
 2   has_typological          41269 non-null  bool
 3   has_examples             41269 non-null  bool
 4   has_examples_pagination  41269 non-null  bool
 5   has_analysis             41269 non-null  bool
 6   coin_date_range          41239 non-null  object
 7   object_type              41269 non-null  object
 8   obverse_legend           40922 non-null  object
 9   obverse_type             41247 non-null  object
 10  reverse_legend           39571 non-null  object
 11  reverse_type             41265 non-null  object
 12  average_axis             22676 non-null  float64
 13  average_diameter         18806 non-null  float64
 14  average_weight           25114 non-null  float64
 15  coin_uri_link            41269 non-null  object
 16  num_denominations        41269 non-null  int64
 17  num_materials            41269 non-null  int64
 18  num_authority_names      41269 non-null  int64
 19  num_issuer_names         41269 non-null  int64
 20  num_mints                41269 non-null  int64
 21  num_regions              41269 non-null  int64
 22  num_entities             41269 non-null  int64
 23  num_obverse_entities     41269 non-null  int64
 24  num_obverse_deities      41269 non-null  int64
 25  num_obverse_portraits    41269 non-null  int64
 26  num_reverse_entities     41269 non-null  int64
 27  num_reverse_deities      41269 non-null  int64
 28  num_reverse_portraits    41269 non-null  int64
 29  num_examples             41269 non-null  int64
 30  ts                       41269 non-null  object
dtypes: bool(4), float64(3), int64(15), object(9)
memory usage: 8.7+ MB

In [15]:
denominations = pd.read_csv(c.DATA_FOLDER / "export" / "fnd_denominations.csv")
denominations.head(2)

,coin_id,coin_name,denomination,is_uncertain,coin_uri_link,ts
0,1,RIC I (second edition) Augustus 1A,Quinarius,False,https://numismatics.org/ocre/id/ric.1(2).aug.1A,2023-09-15 23:23:19.488798+00:00
1,2,RIC I (second edition) Augustus 1B,Quinarius,False,https://numismatics.org/ocre/id/ric.1(2).aug.1B,2023-09-15 23:23:19.488798+00:00

In [17]:
denominations.shape

(44388, 6)

In [18]:
denominations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44388 entries, 0 to 44387
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   coin_id        44388 non-null  int64
 1   coin_name      44388 non-null  object
 2   denomination   44388 non-null  object
 3   is_uncertain   44388 non-null  bool
 4   coin_uri_link  44388 non-null  object
 5   ts             44388 non-null  object
dtypes: bool(1), int64(1), object(4)
memory usage: 1.7+ MB

## Coins that do not appear in denominations

In [22]:
print("Number of missing coins in denomination: ", len(set(coins["coin_id"]) - set(denominations["coin_id"])))

Number of missing coins in denomination:  35

In [23]:
set(coins["coin_id"]) - set(denominations["coin_id"])

{32447,
 32466,
 32467,
 32468,
 32469,
 32470,
 32471,
 32472,
 32473,
 32474,
 32475,
 32476,
 32477,
 32478,
 32479,
 32480,
 32481,
 32652,
 32653,
 32654,
 32655,
 32656,
 32657,
 32658,
 32659,
 32660,
 32661,
 32662,
 32663,
 32664,
 32665,
 32666,
 32667,
 38317,
 38501}

Issue is that the 35 coins above have object type of "coin" and denomination of "Medallion". I will need to remove coins from stg_coins that have these conditions.